doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    title Fatih Þentürk
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    style.
      /********************************************
      * 	reset from
      * 	http://meyerweb.com/eric/tools/css/reset/
      *******************************************/
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
      }
      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
      display: block;
      }
      body {
      line-height: 1;
      }
      ol, ul {
      list-style: none;
      }
      blockquote, q {
      quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
      content: none;
      }
      table {
      border-collapse: collapse;
      border-spacing: 0;
      }
      /****************
      *	COMMONS
      ****************/
      body, html {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 13px;
      color: #40484f;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.46153846;
      text-align: left;
      webkit-text-size-adjust: 100%;
      }
      p {
      display: block;
      margin-bottom: 1.3em;
      }
      a {
      color: #0095ff;
      text-decoration: none;
      }
      a:hover {
      color: #0c65a5;
      text-decoration: underline;
      }
      ul {
      margin-top: 1rem;
      }
      li {
      list-style-type: square;
      list-style-position: outside;
      margin-left: 1.3em;
      }
      h1 {
      font-size: 2rem;
      }
      h2 {
      font-size: 1.67rem;
      }
      h3 {
      font-size: 1.27rem;
      }
      em {
      color: #757575;
      }
      blockquote {
      margin-bottom: 1em;
      }
      strong {
      font-weight: 700;
      }
      /* main container */
      #resume {
      padding: 1rem;
      margin-top: 2rem;
      }
      /* every section wrapper */
      .section {
      margin-bottom: 1rem;
      }
      section .location {
      margin-right: .5em;
      color: #606d76;
      font-weight: 700;
      }
      #contact {
      margin-top: .5rem;
      }
      #profiles .item {
      padding: 0;
      }
      #header > #profiles,
      #header > #contact,
      #skills,
      #languages,
      #interests {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      }
      #header > div {
      line-height: 1.5;
      }
      #header > div > div {
      margin-right: 1.2em;
      }
      #header h1.name {
      font-size: 2.8rem;
      font-weight: 100;
      line-height: 100%;
      }
      #header h2.label {
      color: #202931;
      font-size: 1.47rem;
      font-weight: 300;
      }
      #header .picture {
      width: 11em;
      float: right;
      border-radius: 4px;
      }
      .main-summary {
      background: #f1f8ff;
      padding: 1.2em 1em;
      margin-top: 1rem;
      }
      .main-summary p {
      margin: .15em 0 0;
      }
      h2.section-title {
      display: inline-block;
      background: #fff;
      padding: 0 1em 0.3em 0;
      color: #ff6d1f;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      font-size: .9rem;
      }
      .section > header {
      position: relative;
      }
      .fa {
      margin-right: 0.25em;
      }
      .section > header::after {
      position: absolute;
      left: 0;
      top: .7em;
      height: 1px;
      background: #ccc;
      content: "";
      width: 100%;
      z-index: -100;
      display: block;
      }
      .section.main-summary > section {
      margin: 0;
      }
      .section > section > header {
      font-size: 1.38rem;
      position: relative;
      margin-top: .7em;
      }
      .section > section > header:first-of-type {
      margin: 0;
      }
      .section > section > header .space-left {
      position: absolute;
      left: -1.56rem;
      top: 5px;
      color: #aaa;
      line-height: 1;
      opacity: 0;
      }
      .position,
      .company,
      .organization,
      .institution,
      .date,
      .area,
      .studyType,
      .title,
      .awarder {
      display: inline-block;
      }
      .position,
      .studyType,
      .area,
      .title,
      .language,
      .name {
      font-weight: 600;
      }
      .company::before,
      .institution::before,
      .organization::before,
      .awarder::before {
      content: "at "
      }
      .company,
      .institution,
      .organization,
      .awarder {
      color: #606d76;
      font-weight: 400;
      }
      .section header .date {
      font-size: 1rem;
      display: block;
      padding: .1em 0;
      font-weight: 600;
      }
      ul.keywords,
      ul.courses {
      margin-top: .5em;
      }
      ul.keywords li,
      ul.courses li {
      display: inline-block;
      margin: 2px 2px 2px 0;
      padding: 4px 5px 5px;
      font-size: .9rem;
      line-height: 1;
      text-transform: lowercase;
      color: #3e6d8e;
      background-color: #dfeaf1;
      border: 0 solid #dfeaf1;
      white-space: nowrap;
      }
      ul.keywords li:hover,
      ul.courses li:hover {
      background: #dfeaf0;
      }
      .item {
      padding: .5em 0;
      }
      .gpa {
      padding-bottom: .5em;
      }
      .fa.social {
      font-size: 1.1em;
      }
      /* Social Media Brand Colors */
      .google-plus {
      color: #dd4b39;
      }
      .tumblr {
      color: #32506d;
      }
      .foursquare {
      color: #0072b1;
      }
      .facebook {
      color: #3b5998;
      }
      .linkedin {
      color: #007bb6;
      }
      .pinterest {
      color: #cb2027;
      }
      .dribbble {
      color: #ea4c89;
      }
      .instagram {
      color: #517fa4;
      }
      .twitter {
      color: #00aced;
      }
      .soundcloud {
      color: #ff3a00;
      }
      .wordpress {
      color: #21759b;
      }
      .youtube {
      color: #bb0000;
      }
      .github {
      color: #171515;
      }
      .stack-overflow {
      color: #828386;
      position: relative;
      }
      .flickr {
      color: #ff0084;
      }
      .stack-overflow::after {
      position: absolute;
      left: 0;
      content: '\f16c';
      color: #f68a1f;
      overflow: hidden;
      height: 40%;
      }
      #languages .item,
      #skills .item,
      #interests .item {
      width: 15em;
      padding: 0 .5em .5em 0;
      border-bottom: none;
      }
      #skills .item {
      width: 16em;
      }
      #skills .item .keywords {
      width: 15em;
      }
      /* Skill chart */
      .level {
      margin-bottom: .5em;
      }
      .level .bar {
      border: 1px solid #ddd;
      display: block;
      width: 10em;
      height: 5px;
      position: relative;
      }
      .level .bar::after {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      background: black;
      height: 5px;
      }
      .level.beginner .bar::after {
      background: #EB5F51;
      width: 2.5em;
      }
      .level.intermediate .bar::after {
      background: #ffdf1f;
      width: 5em;
      }
      .level.advanced .bar::after,
      .level.fluent .bar::after {
      background: #5CB85C;
      width: 7.5em;
      }
      .level.master .bar::after,
      .level.native.speaker .bar::after {
      background: #59C596;
      width: 10em;
      }
      #references .item {
      padding-left: .5em;
      border-left: 5px solid #ff6d1f;
      }
      /******************
      *	HELPER CLASSES
      ******************/
      .clear::after {
      content: "";
      display: table;
      clear: both;
      }
      .display {
      display: block;
      opacity: 1 !important;
      }
      .margin1 {
      margin-bottom: .5rem;
      }
      /****************
      *		TABLET
      ****************/
      @media screen and (min-width: 602px) {
      #resume {
      width: 80%;
      margin: 0 auto;
      }
      }
      /****************
      *		LAPTOP
      ****************/
      @media screen and (min-width: 1025px) {
      li {
      margin-left: 1.5em;
      }
      #resume {
      width: 820px;
      margin: 2rem auto;
      opacity: 0;
      -webkit-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      }
      .section > section > header .space-left {
      opacity: 1;
      cursor: pointer;
      }
      .section > section {
      margin-left: 1.67rem;
      }
      .company::before,
      .institution::before,
      .organization::before,
      .awarder::before {
      content: "| ";
      }
      .header-left {
      float: left;
      width: 70%;
      word-break: normal;
      }
      .section header .date {
      float: right;
      padding: .2em;
      }
      .display {
      display: none;
      }
      .display:not(.none) {
      display: block;
      }
      }
      @media print {
      #resume {
      margin: 0;
      padding: 0;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      line-height: 1.3;
      /*font-family: Arial, Georgia, "Lucida Grande", sans-serif;*/
      }
      @page {
      margin: 1cm 1.4cm;
      }
      .item-count {
      display: none;
      }
      .company::before,
      .institution::before,
      .organization::before,
      .awarder::before {
      content: "at ";
      }
      .main-summary {
      padding: 2rem 0;
      }
      .section {
      margin: .8rem 0;
      padding: 0;
      }
      .section header {
      padding-bottom: .15rem;
      }
      .section .location {
      padding-bottom: .15rem;
      }
      .stack-overflow::after {
      content: "";
      }
      .fa.social {
      color: #828386;
      }
      ul {
      margin-top: .4em;
      }
      ul, li {
      padding: 0;
      }
      ul.keywords li,
      ul.courses li {
      margin: 0;
      padding: 0;
      font-size: .8rem;
      text-transform: lowercase;
      }
      ul.keywords li::after,
      ul.courses li::after {
      padding: 0 0 0 .1rem;
      content: " |";
      }
      ul.keywords::before,
      ul.courses::before {
      font-size: .8rem;
      font-weight: 600;
      }
      ul.keywords::before {
      content: "Skills acquired: ";
      }
      #skills .keywords::before {
      content: '';
      }
      .section p {
      margin: 0;
      padding: 0;
      }
      ul.courses::before {
      content: "Major courses: ";
      }
      ul.keywords li:last-of-type::after,
      ul.courses li:last-of-type::after {
      content: "";
      }
      .level em {
      font-style: normal;
      padding: .1em 0;
      }
      .level .bar {
      display: none;
      }
      #profiles .item {
      padding: 0;
      }
      .item.display {
      display: block;
      opacity: 1 !important;
      }
      }
  body
    #resume
      header#header.clear
        div
          h1.name Fatih Þentürk
          h2.label Junior Software Engineer
        span.location
          span.address
            | Sultanahmet,
          span.postalCode
            | 34122,
          span.city
            | Fatih,
          span.region
            | Ýstanbul
          span.countryCode
            | TR
        #contact
          .email
            span.fa.fa-envelope-o
            a(href='/cdn-cgi/l/email-protection#c4a2a5b0adacb7a1aab0b1b6af84a1aaa3adaaa1a1b6eaa7aba9')
              span.__cf_email__(data-cfemail='442225302d2c37212a3031362f04212a232d2a2121366a272b29') [email protected]
              script(data-cfhash='f9e31', type='text/javascript').
                /* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */
          .phone
            span.fa.fa-mobile
            | 							(90) 539-339 3524
        #profiles
          .item
            .username
              span.fa.fa-github.github.social
              span.url
                a(href='https://github.com/4fath') 4fath
          .item
            .username
              span.fa.fa-linkedin.linkedin.social
              span.url
                a(href='https://www.linkedin.com/in/4fath') 4fath
          .item
            .username
              span.fa.fa-bitbucket.bitbucket.social
              span.url
                a(href='https://bitbucket.org/fatihse/') fatihse
          .item
            .username
              span.fa.fa-twitter.twitter.social
              span.url
                a(href='https://twitter.com/4fath') 4fath
      section.section.main-summary
        section
          div
            p
              | Hi, I am Fatih Þentürk. Graduated from Yildiz Technical Universty Computer Science, B.S.
              | I was interested in lots of programming languages and platforms by the way i am playing almost every new programming languages such as Kotlin, Go, Rust etc..
              | My objective is understanding main concepts of programming languages and computer science and then easly adapt to use the system.
              | Therefore , i intern lots of different company and fields.
              | My main aim is that understanding computer science world.
      section.section.margin1
        header
          h2.section-title Skills
        section#skills
          .item
            h3.name
              | Android App Development
            .level.advanced
              em Proficiency In
              .bar
            ul.keywords
              li Andorid API
              li Android Studio
              li Java
              li Popular 3rd libs
          .item
            h3.name
              | NodeJS Back-End Development
            .level.advanced
              em Proficiency In
              .bar
            ul.keywords
              li NodeJs
              li ExpressJS
              li MongoDB
              li NPM
              li Heroku
          .item
            h3.name
              | Java Spring Back-End Development
            .level.intermediate
              em Familiar with
              .bar
            ul.keywords
              li Servlet
              li Spring Core
              li Spring MVC
              li Hibernate
              li Tomcat
          .item
            h3.name
              | Others
            .level.beginner
              em Familiar with
              .bar
            ul.keywords
              li Ruby, RoR
              li Python
              li PHP
              li Html&Css
              li jQuery, AJAX
              li NativeScript
              li C
      section.section
        header
          h2.section-title
            | Work Experience 
            span.item-count (4)
        section#work
          header
            span.space-left
              span.fa.fa-caret-down
            .position
              | Junior Software Engineer
            .company
              | Kolektif Labs A.Þ
            .date
              span.startDate
                | October 2015
              span.endDate
                | - February 2016
          .item.display(style='opacity:1')
            .summary
              p Kolektif Labs is a startup to development Mobil & Web and IoT Technologies.
            ul.highlights
              li I worked as a Mobile and Web BE Developer
              li
                | Used Android API and some populer libs for Android Development. NodeJs especially Express
                | and MongoDB/Mongoose are used for back-end development.
          header
            span.space-left
              span.fa.fa-caret-right
            .position
              | Software Engineering Intern
            .company
              | OBSS
            .date
              span.startDate
                | June 2015
              span.endDate
                | - July 2015
          span.website
            a(href='http://obss.co/') http://obss.co/
          .item.display.none(style='opacity:0')
            .summary
              p
                | OBSS is a Premium partner of Atlassian.
                | It is offering solutions to customers in Atlassian products such as Jira, confilunce etc.
            ul.highlights
              li Jira SDLC workflow development and Jira plugin development.
              li Servlet and Atlassian SDK for BE, Html&Css and Js for FE
          header
            span.space-left
              span.fa.fa-caret-right
            .position
              | Software Engineering Intern
            .company
              | Digiturk
            .date
              span.startDate
                | August 2014
              span.endDate
                | - October 2014
          span.website
            a(href='http://www.digiturk.com.tr') http://www.digiturk.com.tr
          .item.display.none(style='opacity:0')
            .summary
              p Digiturk is one of the leading cable broadcasters in Turkey.
            ul.highlights
              li BigData research on some tools and technologies  
              li NoSQL DBs, Hadoop & HDFS.
          header
            span.space-left
              span.fa.fa-caret-right
            .position
              | Long-Term Software Intern
            .company
              | Kuveyt Türk Katýlým Bankasý A.Þ
            .date
              span.startDate
                | April 2014
              span.endDate
                | - August 2014
          span.website
            a(href='http://www.kuveytturk.com.tr') http://www.kuveytturk.com.tr
          .item.display.none(style='opacity:0')
            .summary
              p
              p KuveytTürk is a participation bank in international services.
              p
            ul.highlights
              li Worked on the design and development of financial applications.
              li
                | C# and Xaml for BE and framework development, DB is Sql Server and development enviroment VS.
      section.section
        header
          h2.section-title
            | Education 
            span.item-count (2)
        section#education
          header.clear
            span.space-left
              span.fa.fa-caret-down
            .header-left
              .studyType
                | B.S. Degree
              .area
                | Computer Engineering
              .institution
                | Yýldýz Tecnnical University
            .date
              span.startDate
                | 2010
              span.endDate
                | - 2016
          .item.display(style='opacity:1')
          header.clear
            span.space-left
              span.fa.fa-caret-right
            .header-left
              .studyType
                | B.S. Degree
              .area
                | Sociology
              .institution
                | Anadolu University
            .date
              span.startDate
                | 2015
              span.endDate
                | - Exp Date 2019
          .item.display.none(style='opacity:0')
      section.section.margin1
        header
          h2.section-title Languages
        section#languages
          .display
            h3.language
              | English
            .item
              .level.advanced
                em Fluently in reading, good at speaking
                .bar
      section.section.margin1
        header
          h2.section-title Interests
        section#interests
          .item
            h3.name
              | Enterpreneurship
            ul.keywords
              li Startup
              li Enterpreneur
              li Endeavor Fellow
          .item
            h3.name
              | Electronics & IoT
            ul.keywords
              li Arduino
              li RasPi
              li Drones
          .item
            h3.name
              | Swimming
            ul.keywords
              li long-distance swimming
              li Bosphorus Cross-Continental
    script.
      (function(){
      var elements = document.querySelector("#resume");
      // adding the element to the all container
      // and using event delegation
      elements.addEventListener("click", function(e) {
      var current = e.target;
      // font awesone arrows
      var arrowRight = current.classList.contains('fa-caret-right');
      var arrowDown = current.classList.contains('fa-caret-down');
      if(current && current.nodeName == "SPAN" && (arrowRight || arrowDown)) {
      var header = e.target.parentNode.parentNode;
      var item = header.nextSibling;
      // select the .item element from the siblings
      while (!item || !item.classList || !item.classList.contains('item')) {
      item = item.nextSibling;
      }
      // hide or show the .item element
      item.classList.toggle('none');
      // if the .item is going to be shown then imcrease is opacity
      // every 20 milliseconds to make a fadeIn effect
      if (!item.classList.contains('none')) {
      var id = setInterval(function() {
      item.style.opacity = parseFloat(item.style.opacity) + 0.09;
      if (parseFloat(item.style.opacity) >= 1) {
      clearInterval(id);
      }
      }, 20);
      } else {
      item.style.opacity = 0;
      }
      current.classList.toggle('fa-caret-right');
      current.classList.toggle('fa-caret-down');
      }
      }, false);
      // Make the #resume visible only when the DOM is fully loaded
      elements.style.opacity = '1';
      })();
    script(type='text/javascript').
      /* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */
